

#carouselMemes {
    max-width: 35rem;
    margin: auto;
}

/* Pantalla grande*/
@media only screen and (min-width: 535px) {
    .carousel-item img{
        height: 30rem;
        object-fit: cover;
    }
}

/* Pantalla grande*/
@media only screen and (max-width: 535px) {
    .carousel-item img{
        height: 10rem;
        object-fit: cover;
    }
}

.carousel-caption h5, .carousel-caption p{
    color: white !important;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #33333369;
}


.carousel-dark {
    background-color: #333;
    color: #fff;
}

.carousel-dark .carousel-indicators button {
    background-color: #555;
}

.carousel-dark .carousel-control-prev,
.carousel-dark .carousel-control-next {
    color: #fff;
}

.carousel-dark .carousel-caption {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 15%;
    bottom: 0.01rem;
    left: 15%;
    z-index: 10;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.carousel-dark .carousel-indicators{
    margin-bottom: 0.1px;
}
